body {
  background: url(./images/300px-Cristi_Balanescu_Jon_SnowGhost.png) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}